<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="/components/images/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" ng-submit="modalOptions.ok()">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" ng-model="modalOptions.username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword"  ng-model="modalOptions.password" class="form-control" placeholder="Password" required>
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-bind="modalOptions.loginButton"></button>
    </form>
    <a href="#" class="forgot-password">
        Forgot the password?
    </a>
</div>